/*#chart {*/
    /*height: 440px;*/
/*}*/
#pie {
    margin-left: 56px;
}

.dx-texteditor {
    display: inline-block;
}
.chartstyle{
    border: solid;
    margin-top: 2px;
    border-radius: 10px;

}
.piestyle
{
    border: solid;
    height: 386px;
    margin-top: 2px;
    border-radius: 10px;
}